.home-container {
  position: relative;
  width: auto;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #c9558f 0%, #e8c9d8 15%, #f0ede0 35%, #a8ddd0 50%, #6fb8cc 65%, #4a7fb8 85%, #2a3a6e 100%);
}

.home-container a {
  text-decoration: none;
  color: #000000;
}

.home-container .nav-item a {
  color: #090806;
}

.home-container .nav-item a.disabled {
  color: #898071;
}

.home-container .navigation-menu {
  position: relative;
  z-index: 10000;
  color: #000000;
  font-size: 40px;
  font-family: cursive;
}



/* animation from here */


/*animation until here  */